@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #F84565;
    --color-primary-dull: #D63854;
}

* {
    font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

body {
    color: white;
    background-color: #09090B;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input {
    appearance: textfield;
}

.calender-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}