PORT=
NODE_ENV=
CLIENT_URL=

MONGODB_URI=

# Clerk Credentials
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Inngest Credentials
INNGEST_EVENT_KEY=
INNGEST_SIGNIN_KEY=

# TMDB Credentials
TMDP_READ_ACCESS_TOKEN=